/* Nastavení hladkého scrollování */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}

p {
  color: black;
}

.formular {
  background-color: rgba(63, 112, 77, 0.5);
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 30px;
}

/* Odsazení sekcí pro navigaci */
section {
  scroll-margin-top: 80px;
}

/* Hlavní sekce pokrývá celou výšku obrazovky */
.home-section {
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Logo - vycentrování a posunutí doleva */
.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: -100px; /* Posunutí loga doleva */
}

/* Navigační panel */
.navbar {
  background-color: rgba(63, 112, 77, 0.8);
}

/* Navigační odkazy */
.navbar-nav .nav-link {
  color: white;
  font-weight: normal;
  transition: all 0.3s ease;
}

/* Hover efekt na odkazy */
.navbar-nav .nav-link:hover {
  color: yellow;
  transform: scale(1.1);
}

/* Aktivní odkaz */
.navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #212529;
  text-align: center;
  padding: 20px;
  width: 100%;
  color: white;
  position: relative;
  bottom: 0;
}

/* Sociální ikony ve footeru */
.footers .social-iconss {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.footers .social-iconss a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footers .social-iconss a:hover {
  color: #0ce5b2;
}

/* Copyright ve footeru */
.footers .copy {
  margin-top: 10px;
  font-size: 0.9rem;
}

.nameofcompany {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.rekonstrukce {
  font-size: 3rem;
  color: red;
}

/* Responzivita pro menší obrazovky */
@media (max-width: 768px) {
  .rekonstrukce {
    font-size: 2rem;
  }

  .nameofcompany {
    font-size: 24px;
  }

  .logo {
    max-width: 100%;

    position: absolute;
    top: 20%;
    left: 62%;
    transform: translateX(-50%);
  }
}
